<mat-toolbar class="app-header shadow-sm">
  <div class="d-flex justify-content-between align-items-center w-100 flex-wrap flex-md-nowrap">

    <div class="header-left d-flex align-items-center gap-2 gap-md-3">
      <div class="logo">
        <img src="https://storage.googleapis.com/orderapp-public-assets/clients/logos/69326034fbb4c6e0d61ed704/1764909108472.png" alt="Orderapp Logo" class="logo-image">
      </div>
      <div class="d-none d-sm-block">
        <h1 class="app-title mb-0"><b>Orderapp</b> Admin</h1>
        <div class="app-subtitle d-none d-md-block">Suite de Gestión de Clientes</div>
      </div>
    </div>

    <div class="header-right d-flex align-items-center gap-2 gap-md-4">
      <!-- Indica sistema activo o inactivo
      <div 
        class="status-indicator d-flex align-items-center gap-2 px-3 py-1"
        [ngClass]="{ 'active': isSystemActive(), 'inactive': !isSystemActive() }"
        (click)="appState.toggleSystemStatus()"
        style="cursor: pointer;">

        <ng-container *ngIf="isSystemActive()">
          <mat-icon>flaky</mat-icon>
          <span>Sistema Activo</span>
        </ng-container>

        <ng-container *ngIf="!isSystemActive()">
          <mat-icon>flaky</mat-icon>
          <span>Sistema Inactivo</span>
        </ng-container>
      </div>
-->
      <!-- Indica sistema notificaciones
      <button mat-icon-button aria-label="Notificaciones">
        <mat-icon 
          [matBadge]="notificationCount()" 
          [matBadgeHidden]="notificationCount() === 0"
          matBadgeColor="warn">
          notifications
        </mat-icon>
      </button>
-->
      <div class="d-flex align-items-center gap-2">
        <span class="user-name">{{ userName() }}</span>
        <button 
          mat-icon-button 
          class="logout-btn"
          (click)="logout()" 
          aria-label="Cerrar sesión"
          matTooltip="Cerrar sesión">
          <mat-icon>logout</mat-icon>
        </button>
      </div>

    </div>
  </div>
</mat-toolbar>
