<div class="sidebar-container d-flex flex-column p-3">
  <mat-nav-list>
    <a 
      mat-list-item 
      *ngFor="let item of menuItems()"
      [routerLink]="item.routerLink"
      routerLinkActive="active-item">
      
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle class="item-label">{{ item.label }}</span>
      
      <span 
        matListItemMeta 
        *ngIf="item.count && item.count() !== null" 
        class="item-count">
        {{ item.count() }}
      </span>
    </a>
  </mat-nav-list>
</div>